
:root{
    --roxo: #9747FF;
    --roxo-hover: #8233E8;
    --fundo: #0E1014;
    --texto: #FFFFFF;
    --fonte-titulo: 'Unbounded', sans-serif;
    --fonte-corpo: 'Poppins', sans-serif;
}

/* Estilo Desktop: */
body{
    background-color: var(--fundo) ;
    color: var(--texto);
    font-family: var(--fonte-corpo);

}

section{
    text-align: center;
}

h1{
    font-size: 70px;
    font-family: var(--fonte-titulo);
    font-weight: bold;
}

h1 span{
    /*
    hexadecimal #800080
    nomeada: purple
    rgb(128, 0, 128);
    */
    color: var(--roxo);
    
}

p{
    font-size: 24px;
    width: 792px;
    margin: 24px auto;
}



.btn{

    background-color: var(--roxo);
    color: var(--texto);
    font-family: inherit;
    font-size: 24px;
    text-decoration: none;

    display: inline-flex; /* Deixa o botão do tamanho do conteúdo e alinha itens internos */
    justify-content: center; /* Centraliza horizontalmente o texto dentro do botão */
    align-items: center; /* Centraliza verticalmente o texto dentro do botão */

    padding: 16px 32px; /* Espaçamento interno: 16px em cima/baixo, 32px nas laterais */

    border-radius: 36px; /* Cantos arredondados (36 pixels) */
    border: none; /* Remove a borda padrão */
    cursor: pointer; /* Muda o cursor para "mãozinha" ao passar o mouse */

    transition: background-color 0.3s ease, transform 0.2s ease; /* Efeito de transição suave (ao passar o mouse) */
}

.btn:hover{
  background-color: var(--roxo-hover); /* Cor de fundo mais escura ao passar o mouse */
  transform: scale(1.03); /* Aumenta ligeiramente o botão (3%) */
}


section img{
    display: block;
    width: 792px;
    height: 446px;
    margin: 0 auto 0;
}

header img{
    display: block;
    margin: 75px 0 60px 360px;
}

/*
p,a{
    color: #FFFFFF;
}

/* .cor-branca{
    color: #ffffff;
} */

@media(max-width: 768px){

    header img{
        margin: 65px 0 72px 60px;
    }

    p{
        width: auto;        /* deixa o bloco preencher o container */
        max-width: 100%;
        margin: 24px 0;     /* sem margem lateral aqui */
        padding: 0 60px;    /* o espaçamento lateral vem daqui */
    }
    
}

@media(max-width: 375px){

    header img{
        margin: 32px 0 60px 16px;
    }

    h1{
        font-size: 40px;
        width: 341px;
        margin: auto
    }

    p{
        font-size: 20px;
        width: 648px;
        margin: 0 60px 0 60px;
    }

    section img{
    display: block;
    width: 341px;
    height: 231px;
}

}